# Entorno virtual
.venv/
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Archivos del sistema
.DS_Store

# Variables de entorno
.env
.env.*

# IDE
.vscode/
.idea/

# Logs
*.log